In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('csgo_round_snapshots.csv')

In [3]:
csgo_prices = {
    'ct_weapon_ak47': 0,  # Typically not available to CT side in standard play
    't_weapon_ak47': 2700,
    'ct_weapon_aug': 3300,
    't_weapon_aug': 0,  # Typically not available to T side in standard play
    'ct_weapon_awp': 4750,
    't_weapon_awp': 4750,
    'ct_weapon_bizon': 1400,
    't_weapon_bizon': 1400,
    'ct_weapon_cz75auto': 500,
    't_weapon_cz75auto': 500,
    'ct_weapon_elite': 0,  # Typically not available to CT side in standard play
    't_weapon_elite': 400,
    'ct_weapon_famas': 2050,
    't_weapon_famas': 0,  # Typically not available to T side in standard play
    'ct_weapon_g3sg1': 0,  # Typically not available to CT side in standard play
    't_weapon_g3sg1': 5000,
    'ct_weapon_galilar': 0,  # Typically not available to CT side in standard play
    't_weapon_galilar': 2000,
    'ct_weapon_glock': 0,  # Typically not available to CT side in standard play
    't_weapon_glock': 0,# Typically its not available to buy because it's a starting pistol for T
    'ct_weapon_m249': 5200,
    't_weapon_m249': 5200,
    'ct_weapon_m4a1s': 3100,
    't_weapon_m4a1s': 0,  # Typically not available to T side in standard play
    'ct_weapon_m4a4': 3100,
    't_weapon_m4a4': 0,  # Typically not available to T side in standard play
    'ct_weapon_mac10': 0,  # Typically not available to CT side in standard play
    't_weapon_mac10': 1050,
    'ct_weapon_mag7': 1300,
    't_weapon_mag7': 0,  # Typically not available to T side in standard play
    'ct_weapon_mp5sd': 1500,
    't_weapon_mp5sd': 1500,
    'ct_weapon_mp7': 1700,
    't_weapon_mp7': 1700,
    'ct_weapon_mp9': 1250,
    't_weapon_mp9': 0,  # Typically not available to T side in standard play
    'ct_weapon_negev': 1700,
    't_weapon_negev': 1700,
    'ct_weapon_nova': 1200,
    't_weapon_nova': 1200,
    'ct_weapon_p90': 2350,
    't_weapon_p90': 2350,
    'ct_weapon_r8revolver': 600,
    't_weapon_r8revolver': 600,
    'ct_weapon_sawedoff': 0,  # Typically not available to CT side in standard play
    't_weapon_sawedoff': 1100,
    'ct_weapon_scar20': 5000,
    't_weapon_scar20': 0,  # Typically not available to T side in standard play
    'ct_weapon_sg553': 0,  # Typically not available to CT side in standard play
    't_weapon_sg553': 3000,
    'ct_weapon_ssg08': 1700,
    't_weapon_ssg08': 1700,
    'ct_weapon_ump45': 1200,
    't_weapon_ump45': 1200,
    'ct_weapon_xm1014': 2000,
    't_weapon_xm1014': 2000,
    'ct_weapon_deagle': 700,
    't_weapon_deagle': 700,
    'ct_weapon_fiveseven': 500,
    't_weapon_fiveseven': 0,  # Typically not available to T side in standard play
    'ct_weapon_usps': 0,  # Typically not available to buy because it's a starting pistol for CT
    't_weapon_usps': 0,  # Not available to T side
    'ct_weapon_p250': 300,
    't_weapon_p250': 300,
    'ct_weapon_p2000': 0,  # Typically not available to buy because it's a starting pistol for CT
    't_weapon_p2000': 0,  # Not available to T side
    'ct_weapon_tec9': 0,
    'ct_grenade_hegrenade': 300,
    't_grenade_hegrenade': 300,
    'ct_grenade_flashbang': 200,
    't_grenade_flashbang': 200,
    'ct_grenade_smokegrenade': 300,
    't_grenade_smokegrenade': 300,
    'ct_grenade_incendiarygrenade': 600,  # Incendiary Grenade
    't_grenade_incendiarygrenade': 600,  # Technically, this would be a Molotov for T side, priced at 400
    'ct_grenade_molotovgrenade': 400,  # Molotov, typically not available to CT side in standard play
    't_grenade_molotovgrenade': 400,
    'ct_grenade_decoygrenade': 50,
    't_grenade_decoygrenade': 50
}

In [4]:
# Calculate total value for each team
for team in ['ct_', 't_']:
    item_columns = [col for col in df.columns if col.startswith(team)]
    total_value_column = f'{team}total_value'

    # Initialize the total value column to 0
    df[total_value_column] = 0
    for item in item_columns:
        df[f'{item}_value'] = 0

    # Iterate over each item column and add its total value to the total value column
    for item in item_columns:
        item_price = csgo_prices.get(item, 0)  # Get the price, default to 0 if not found
        df[f'{item}_value'] += df[item] * item_price
        df[total_value_column] += df[item] * item_price

# This results in two new columns: 'ct_total_value' and 't_total_value' 
# which represent the total value of items for each team in each row

In [5]:
df.loc[0,'t_total_value']

0.0

In [6]:
df.shape

(122410, 192)

In [7]:
len(df)

122410

In [8]:
df.loc[122409]

time_left                               74.93
ct_score                                 11.0
t_score                                  15.0
map                                  de_train
bomb_planted                            False
                                       ...
t_grenade_flashbang_value               600.0
t_grenade_smokegrenade_value            600.0
t_grenade_incendiarygrenade_value         0.0
t_grenade_molotovgrenade_value         1200.0
t_grenade_decoygrenade_value              0.0
Name: 122409, Length: 192, dtype: object

In [12]:
last_row.loc['t_total_value']+last_row.loc['ct_total_value']

0.0

In [13]:
curr_row.loc['t_total_value']+curr_row.loc['ct_total_value']

50.0

In [15]:
curr_row

time_left                             174.93
ct_score                                 6.0
t_score                                 10.0
map                                  de_nuke
bomb_planted                           False
                                      ...
t_grenade_flashbang_value                0.0
t_grenade_smokegrenade_value             0.0
t_grenade_incendiarygrenade_value        0.0
t_grenade_molotovgrenade_value           0.0
t_grenade_decoygrenade_value             0.0
Name: 17591, Length: 192, dtype: object

In [18]:
last_row

time_left                              36.06
ct_score                                 5.0
t_score                                 10.0
map                                  de_nuke
bomb_planted                            True
                                      ...
t_grenade_flashbang_value                0.0
t_grenade_smokegrenade_value             0.0
t_grenade_incendiarygrenade_value        0.0
t_grenade_molotovgrenade_value           0.0
t_grenade_decoygrenade_value             0.0
Name: 17590, Length: 192, dtype: object

In [17]:
df.iloc[17591:]

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_weapon_usps_value,t_weapon_p250_value,t_weapon_p2000_value,t_weapon_tec9_value,t_grenade_hegrenade_value,t_grenade_flashbang_value,t_grenade_smokegrenade_value,t_grenade_incendiarygrenade_value,t_grenade_molotovgrenade_value,t_grenade_decoygrenade_value
17591,174.93,6.0,10.0,de_nuke,False,500.0,500.0,342.0,0.0,19950.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17592,114.95,6.0,10.0,de_nuke,False,500.0,500.0,500.0,200.0,450.0,...,0.0,0.0,0.0,0.0,300.0,200.0,300.0,0.0,0.0,0.0
17593,94.95,6.0,10.0,de_nuke,False,500.0,430.0,500.0,280.0,450.0,...,0.0,0.0,0.0,0.0,0.0,400.0,300.0,0.0,400.0,0.0
17594,74.95,6.0,10.0,de_nuke,False,500.0,430.0,500.0,280.0,450.0,...,0.0,0.0,0.0,0.0,0.0,400.0,300.0,0.0,400.0,0.0
17595,54.95,6.0,10.0,de_nuke,False,500.0,430.0,500.0,280.0,450.0,...,0.0,0.0,0.0,0.0,0.0,400.0,300.0,0.0,400.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122405,15.41,11.0,14.0,de_train,True,200.0,242.0,195.0,359.0,100.0,...,0.0,600.0,0.0,0.0,0.0,400.0,300.0,0.0,0.0,0.0
122406,174.93,11.0,15.0,de_train,False,500.0,500.0,95.0,175.0,11500.0,...,0.0,0.0,0.0,0.0,0.0,400.0,0.0,0.0,0.0,0.0
122407,114.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,...,0.0,0.0,0.0,0.0,0.0,800.0,1500.0,0.0,2000.0,0.0
122408,94.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,...,0.0,0.0,0.0,0.0,0.0,1000.0,900.0,0.0,1600.0,0.0
122409,74.93,11.0,15.0,de_train,False,375.0,479.0,395.0,466.0,1100.0,...,0.0,0.0,0.0,0.0,0.0,600.0,600.0,0.0,1200.0,0.0

In [21]:
curr_row['ct_score']

6.0

In [23]:
highest_value_game

Empty DataFrame
Columns: []
Index: []

In [47]:
# Select the row when total value of two team's weapon are the highest in that round as the value of weapon for that round.
# This is because the data includes several time checkpoints in one row.
new_df = pd.DataFrame()
highest_value_game = pd.DataFrame()
for i in df.index:
    if i == 0:
        continue
    curr_row = df.loc[i]
    last_row = df.loc[i-1]
    if last_row['ct_score'] != curr_row['ct_score'] or last_row['t_score'] != curr_row['t_score']:
        #this is to say it is another game
        new_df = pd.concat([new_df,highest_value_game[['ct_score','map','t_score','t_total_value','ct_total_value','round_winner']]], ignore_index=True)
        highest_value_game = pd.DataFrame()
    else:
        # select the time when total value of two team's weapon are the highest in that round as the value of weapon for that round.
        if i > 1:
            if last_row.loc['t_total_value']+last_row.loc['ct_total_value'] <= curr_row.loc['t_total_value']+curr_row.loc['ct_total_value']:
                highest_value_game = curr_row.to_frame().transpose()
            else:
                highest_value_game = last_row.to_frame().transpose()

In [48]:
highest_value_game

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_weapon_usps_value,t_weapon_p250_value,t_weapon_p2000_value,t_weapon_tec9_value,t_grenade_hegrenade_value,t_grenade_flashbang_value,t_grenade_smokegrenade_value,t_grenade_incendiarygrenade_value,t_grenade_molotovgrenade_value,t_grenade_decoygrenade_value
122408,94.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,...,0.0,0.0,0.0,0.0,0.0,1000.0,900.0,0.0,1600.0,0.0

In [49]:
# if the weapon column is true, it indicates the total value of t's weapons are more than ct's.
new_df['weapon_value'] = new_df['t_total_value'] > new_df['ct_total_value']
# Convert the 'round_winner' column to a binary format for easier calculations
df['winner_is_ct'] = df['round_winner'] == 'CT'

# Group by 'map' and calculate the winning rate for CT
winning_rates = df.groupby('map').agg(winning_rate_ct=('winner_is_ct', 'mean'))

In [50]:
winning_rates

             winning_rate_ct
map
de_cache            0.710345
de_dust2            0.458725
de_inferno          0.453992
de_mirage           0.492248
de_nuke             0.536873
de_overpass         0.498970
de_train            0.541843
de_vertigo          0.470414

In [51]:
new_df['weapon_value'] = new_df['weapon_value'].apply(lambda x: "T Higher" if x else "CT Higher")

In [52]:
split_dataframes = {map_name: new_df[new_df['map'] == map_name] for map_name in new_df['map'].unique()}
# Now, for each subset, perform the groupby operation
grouped_by_map = {}
for map_name, subset_df in split_dataframes.items():
    grouped = subset_df.groupby('round_winner')['weapon_value'].value_counts().unstack()
    grouped_by_map[map_name] = grouped

In [53]:
grouped_by_map

{'de_dust2': weapon_value  CT Higher  T Higher
 round_winner
 CT                 1142       455
 T                   401      1393,
 'de_mirage': weapon_value  CT Higher  T Higher
 round_winner
 CT                 1134       393
 T                   344      1096,
 'de_nuke': weapon_value  CT Higher  T Higher
 round_winner
 CT                 1199       452
 T                   308       985,
 'de_inferno': weapon_value  CT Higher  T Higher
 round_winner
 CT                 1224       476
 T                   429      1342,
 'de_overpass': weapon_value  CT Higher  T Higher
 round_winner
 CT                  796       304
 T                   188       793,
 'de_vertigo': weapon_value  CT Higher  T Higher
 round_winner
 CT                  593       240
 T                   186       696,
 'de_train': weapon_value  CT Higher  T Higher
 round_winner
 CT                  874       301
 T                   224       708,
 'de_cache': weapon_value  CT Higher  T Higher
 round_winner
 CT                   16         3
 T                     4         3}

In [54]:
new_df

,ct_score,map,t_score,t_total_value,ct_total_value,round_winner,weapon_value
0,0.0,de_dust2,0.0,600.0,0.0,CT,T Higher
1,1.0,de_dust2,0.0,0.0,5650.0,CT,CT Higher
2,2.0,de_dust2,0.0,5700.0,7850.0,T,CT Higher
3,2.0,de_dust2,1.0,13150.0,4000.0,CT,T Higher
4,3.0,de_dust2,1.0,6750.0,1300.0,T,T Higher
...,...,...,...,...,...,...,...
18697,8.0,de_train,13.0,5900.0,1800.0,CT,T Higher
18698,9.0,de_train,13.0,15550.0,14850.0,CT,T Higher
18699,10.0,de_train,13.0,700.0,9150.0,CT,CT Higher
18700,11.0,de_train,13.0,10650.0,6400.0,T,T Higher
18701,11.0,de_train,14.0,18050.0,9600.0,T,T Higher

In [55]:
grouped = new_df.groupby('round_winner')['weapon_value'].value_counts().unstack()

In [56]:
grouped

weapon_value  CT Higher  T Higher
round_winner
CT                 6978      2624
T                  2084      7016